body {
    background-color: rgb(212, 207, 207);
}
header {
    background: white;
}
h1 {
    font-size: 35px;
}
.container {
    width: 300px;
    margin: 0% auto;
}
.post {
    background-color: white;
    border:1px solid red;

}
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
}
span {
    background-color: rgb(235, 239, 235);
}




