body {
    background-color: white;

}
.container {
    background-color: whitesmoke;
    width: 400px;
    height:400px;
    margin: auto;
    
}

.titulo {
    display:flex;
    
}
#derecha {
    justi
}
.head {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

}
.contenido {
    margin:auto;
    padding: 15px;
}
.header left *{
    display:inline-flex ;
    
}
img{
    width: 360;
    height: 400;
}